.WIN_20200622_17_48_36_pro_edited.jpg {
    width: 10px;
    height: 10px;
    border-top: 3px;
    border-bottom: 13px;
    border-left: 3px;
    border-right: 3px;
    border-style: dashed;

}

.btn-sucess{
    width: 5px;
    height: 10px;
    border-style: groove;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;

}

.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    box-shadow: mediumvioletred;
}

.heading1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    box-shadow: turquoise;
}